{
  "presets": [ "@wordpress/default" ],
  "plugins": [
    [
      "@wordpress/babel-plugin-import-jsx-pragma",
      {
        "scopeVariable": "createElement",
        "source": "@wordpress/element",
        "isDefault": false
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "hoist": true
          }
        ],
        [
          "@wordpress/babel-plugin-makepot",
          {
            "output": "languages/public-post-preview.pot"
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }]
      ]
    }
  }
}
