.github export-ignore
.wordpress-org export-ignore
.distignore export-ignore
.editorconfig export-ignore
.eslintignore export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.npmrc export-ignore
.nvmrc export-ignore
.wp-env.json export-ignore
babel.config.js export-ignore
package.json export-ignore
package-lock.json export-ignore
webpack.config.js export-ignore

# Treat build files as binary to ignore them from diffs.
js/dist/* -diff
js/public-post-preview.min.js -diff
# Exclude build files from GitHub stats.
js/dist/* linguist-generated
js/public-post-preview.min.js linguist-generated
